* {
    box-sizing: border-box;
}

/* Page background + main font */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
background-color: #fdfbfb;




/* Make text elements use Inter */
p, a, li, h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
}

.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    padding: 20px 40px;
}

.left { flex: 1; }

/* Your name in the banner */
.center {
    flex: 10;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.right { text-align: right; }

.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.main-layout {
    display: flex;
    min-height: calc(100vh - 110px);
}

.sidebar {
    width: 200px;
    background-color: #2b2b2b;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #444;
}

.content {
    flex: 1;
    padding: 20px;
}

.about-photo {
    text-align: center;
    margin-top: 40px;
}

.about-photo img {
    width: 250px;
    border-radius: 12px;
}
.top-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.top-link:hover {
    text-decoration: underline;
}
.download-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #1e1e1e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}

.download-btn:hover {
    background-color: #444;
}
